[Unit]
Description=RFID Attendance System Portal
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
SyslogIdentifier=ras-portal
User=root
Group=root
ExecStart=/usr/bin/python3 /home/pi/ras/web/config-server.py
WorkingDirectory=/home/pi
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target